/*universal selector*/
* {
    font-family: monospace;
}

body {
    font-size: 22px;
}

p {
    color: purple;
}

h1, h2 {
    color: blue;
}

/*nested elements selector*/
p span {
    text-transform: uppercase;
    background-color: yellow;
}

/*class selector*/
.example_class {
    color: gray;
}

/*id selector*/
#third {
    font-style: italic;
}


